<ion-header>
    <ion-toolbar>
        <ion-title>
            Search book
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]='true'>
    <div class='container'>
        <div class='scan-instructions'>
            <h2>Take a picture of the ISBN code on de back of your book.</h2>
            <span>Or fill in the ISBN code yourself.</span>
            <div class='helper-image'></div>
            <!-- <img src='../../assets/scan.png' /> -->
            <ion-button expand='block' color='light' (click)="selectSource()">Take picture</ion-button>

        </div>

        <!-- <div class='loading' *ngIf='isScanning'>
        <ion-spinner></ion-spinner>
        <h1>Scanning for ISBN...</h1>
    </div> -->

        <ion-card class='isbn-card'>
            <ion-card-content>
                <ion-item>
                    <ion-label>ISBN:</ion-label>
                    <ion-input placeholder='000-0-000-00000-0' expand="block" type='text' [(ngModel)]="ISBN"></ion-input>
                </ion-item>
                <ion-button color='dark' expand="block" [routerLink]="['/book/'] + ISBN">
                    Show book
                </ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>