<ion-header>
    <ion-toolbar>
        <ion-title>
            Search book
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]='true'>
    <ion-button full (click)="selectSource()">Select Image</ion-button>
    <ion-button full (click)="recognizeImage()" [disabled]="!selectedImage">Recognize Image</ion-button>

    <img [src]="selectedImage" *ngIf="selectedImage">

    <ion-card>
        <ion-card-header>Image Text</ion-card-header>
        <ion-card-content>
            {{ imageText }}
        </ion-card-content>
    </ion-card>
    <ion-item>
        <ion-label>ISBN</ion-label>
        <ion-input expand="block" #ISBN type='text' value='0062316095'></ion-input>
    </ion-item>

    <ion-button expand="block" [routerLink]="['/book/'] + ISBN.value">
        Show book
    </ion-button>
</ion-content>