<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button full (click)="selectSource()">Select Image</ion-button>
<ion-button full (click)="recognizeImage()" [disabled]="!selectedImage">Recognize Image</ion-button>

<img [src]="selectedImage" *ngIf="selectedImage">

<ion-card>
  <ion-card-header>Image Text</ion-card-header>
  <ion-card-content>
    {{ imageText }}
  </ion-card-content>
</ion-card>
</ion-content>
